<h1 style="text-align: center;">{{title}}</h1>

<form action="">

  <input type="text" value="" name="nombre" [(ngModel)]="nombre"> <br/>
  <input type="text" value="" name="apellido"[(ngModel)]="apellido"> <br/>
  <input type="text" value="" name="cargo"[(ngModel)]="cargo"> <br/>
  <input type="submit" value="Registrar" (click)="registrarUsario()">

</form>

<br>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} y tiene el cargo de <span [ngStyle]="{color:cargo =='director'? 'red': 'black'}">{{cargo}}</span></p>

<ng-template #sinRegistrar>

  <p>Nadie registrado</p>
</ng-template>

<br><br>
<ul>
  <li *ngFor="let entrada of entradas; let i= index"><span style="font-size:large; font-weight:bold;">{{entrada.titulo}}</span>
    . Entrada {{i+1}}
  </li>
  
</ul>